################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/
**/obj/*
**/bin/*
/Dynamics/OldGitRepo/.vs/
/Dynamics/OldGitRepo/DFA-Portal-CustomActivities/.vs/
/Dynamics/OldGitRepo/DFA-Portal-CustomActivities/obj/
/Dynamics/OldGitRepo/DFA.CRM.ApplicationConversions/WorkflowActivities/obj/
/Dynamics/OldGitRepo/DFA.CRM.ApplicationConversions/WorkflowActivities/.vs/
**/packages
/Dynamics/OldGitRepo/DFA.CRM.SharedCustomWorkflowActivities/WorkflowActivities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Dynamics/OldGitRepo/UpgradeLog.htm
/Dynamics/OldGitRepo/DFA-Portal-CustomActivities/obj/Debug/DFA.Portal.CustomActivities.csproj.AssemblyReference.cache
/Dynamics/OldGitRepo/DFA.CRM.ApplicationConversions/WorkflowActivities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Dynamics/OldGitRepo/DFA.CRM.ApplicationConversions/WorkflowActivities/obj/Release/DFA.CRM.ApplicationConversions.csproj.AssemblyReference.cache
/Dynamics/OldGitRepo/DFA.CRM.SharedCustomWorkflowActivities/WorkflowActivities/bin/Debug/DFA.CRM.CustomWorkflow.dll
/Dynamics/OldGitRepo/DFA.CRM.SharedCustomWorkflowActivities/WorkflowActivities/bin/Debug/DFA.CRM.CustomWorkflow.pdb
/Dynamics/OldGitRepo/DFA.CRM.SharedCustomWorkflowActivities/WorkflowActivities/obj/Debug/DFA.CRM.CustomWorkflow.csproj.AssemblyReference.cache
/Dynamics/OldGitRepo/DFA.CRM.SharedCustomWorkflowActivities/WorkflowActivities/obj/Debug/DFA.CRM.CustomWorkflow.csproj.CoreCompileInputs.cache
/Dynamics/OldGitRepo/DFA.CRM.SharedCustomWorkflowActivities/WorkflowActivities/obj/Debug/DFA.CRM.CustomWorkflow.csproj.FileListAbsolute.txt
/Dynamics/OldGitRepo/DFA.CRM.SharedCustomWorkflowActivities/WorkflowActivities/obj/Debug/DFA.CRM.CustomWorkflow.dll
/Dynamics/OldGitRepo/DFA.CRM.SharedCustomWorkflowActivities/WorkflowActivities/obj/Debug/DFA.CRM.CustomWorkflow.pdb
/Dynamics/OldGitRepo/DFA.Custom.Actions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Dynamics/OldGitRepo/DFA.Custom.Actions/obj/Debug/DFA-Portal.Custom.Actions.dll
/Dynamics/OldGitRepo/DFA.Custom.Actions/obj/Debug/DFA-Portal.Custom.Actions.pdb
/Dynamics/OldGitRepo/DFA.Custom.Actions/obj/Debug/DFA.Custom.Actions.csproj.FileListAbsolute.txt
